<tr>
	<td>
		{{id}}
	</td>
	<td>
		{{burger_name}}
	</td>
	<td>
		<button class="btn btn-danger change-status" data-id="{{id}}" data-burger="{{devoured}}">
		{{#if devoured}}Devoured{{else}}DEVOUR IT!{{/if}}
		</button>
	</td>
</tr>